<meta charset="UTF-8">
<title>JournalsDB API Docs</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/flasgger_static/swagger-ui.css">
<link rel="icon" type="image/png" href="/flasgger_static/favicon-32x32.png" sizes="64x64 32x32 16x16" />
<style>
    html
    {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    }

    *,
    *:before,
    *:after
    {
    box-sizing: inherit;
    }

    body
    {
    margin:0;
    background: #fafafa;
    }
    .topbar {
        display: None;
    }
    .main a {
        display: None;
}
</style>